@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Unsuccessful Login for Username: 
			</h3>
			<dl>
				<dt>
					Username: 
				</dt>
				
			</dl> 
			<button type="button" class="btn btn-success">
				Button
			</button>
		</div>
	</div>
</div>